<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Sidebar -->


  <div class="container">
    <div class="row p-3">
      <h5>Buscar:</h5>
      <input type="text" class="form-control" placeholder="Buscar gifs...">
    </div>
    <hr />

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur magnam aliquam maiores numquam blanditiis culpa dolorum vitae, molestias, est quas impedit esse qui consectetur totam pariatur rerum minus suscipit quidem.
      </div>
    </div>
  </div>
</div>
